aiohttp==3.8.3
aioredis==2.0.1
aiosignal==1.2.0
amqp==5.1.1
anyio==3.6.1
async-timeout==4.0.2
attrs==22.1.0
bandit==1.7.4
billiard==3.6.4.0
black==22.8.0
celery[redis]==5.2.7
cffi==1.15.1
charset-normalizer==2.1.1
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
cryptography==38.0.2
Deprecated==1.2.13
ecdsa==0.18.0
fastapi==0.79.1
flake8==5.0.4
flake8-html==0.4.2
frozenlist==1.3.1
gitdb==4.0.9
GitPython==3.1.27
gunicorn==20.1.0
h11==0.13.0
idna==3.4
iniconfig==1.1.1
isort==5.10.1
Jinja2==3.1.2
kombu==5.2.4
loguru==0.6.0
MarkupSafe==2.1.1
mccabe==0.7.0
multidict==6.0.2
mypy==0.971
mypy-extensions==0.4.3
orjson==3.6.1
packaging==21.3
pathspec==0.10.1
pbr==5.10.0
pip==22.3
platformdirs==2.5.2
pluggy==1.0.0
prompt-toolkit==3.0.32
py==1.11.0
pyasn1==0.4.8
pycodestyle==2.9.1
pycparser==2.21
pydantic==1.10.2
pyflakes==2.5.0
Pygments==2.13.0
pyparsing==3.0.9
pytest==7.1.3
pytest-asyncio==0.12.0
python-dotenv==0.20.0
python-jose==3.3.0
pytz==2022.6
PyYAML==6.0
redis==4.3.4
rsa==4.9
setuptools==62.1.0
six==1.16.0
smmap==5.0.0
sniffio==1.3.0
starlette==0.19.1
stevedore==4.0.0
tomli==2.0.1
typing_extensions==4.3.0
uvicorn==0.18.3
uvloop==0.16.0
vine==5.0.0
wcwidth==0.2.5
websockets==10.4
wheel==0.37.1
wrapt==1.14.1
yarl==1.8.1
